name = "coder"
description = """{{ template "agent_coder_description" . -}}"""
model = "gpt-5.6-sol"
model_reasoning_effort = "medium"

developer_instructions = """
{{- template "agent_coder_prompt" . -}}
"""
