---
description: {{ template "agent_coder_description" . -}}
mode: subagent
model: opencode-go/deepseek-v4-flash
variant: high
temperature: 0.2
tools:
  write: true
  edit: true
  bash: true
---
{{ template "agent_coder_prompt" . -}}
