---
description: {{ template "agent_coder_description" . -}}
mode: subagent
model: opencode-go/muse-spark-1.3-contributor
variant: high
temperature: 0.2
tools:
  write: true
  edit: true
  bash: true
---
{{ template "agent_coder_prompt" . -}}
