---
description: {{ template "agent_deep_reviewer_description" . -}}
mode: subagent
model: opencode-go/deepseek-v4-flash
variant: high
temperature: 0.1
tools:
  write: false
  edit: false
  bash: false
---
{{ template "agent_deep_reviewer_prompt" . -}}
