---
description: {{ template "agent_deep_reviewer_description" . -}}
mode: subagent
model: bailian-token-plan-personal/qwen3.8-max-preview
temperature: 0.1
tools:
  write: false
  edit: false
  bash: false
---
{{ template "agent_deep_reviewer_prompt" . -}}
