---
description: {{ template "agent_explorer_description" . -}}
mode: subagent
model: opencode-go/muse-spark-1.3-contributor
variant: high
temperature: 0.1
tools:
  write: false
  edit: false
  bash: false
---
{{ template "agent_explorer_prompt" . -}}
