{{- $moshiBin := "" -}}
{{- $moshiHookSymlink := joinPath .chezmoi.homeDir ".local/bin/moshi-hook" -}}
{{- if stat $moshiHookSymlink -}}
{{-   $moshiBin = $moshiHookSymlink -}}
{{- end -}}
{{- if not $moshiBin -}}
{{-   $moshiBin = "moshi-hook" -}}
{{- end -}}
{
  "hooks": {
    "PermissionRequest": [
      {
        "hooks": [
          {
            "command": "'{{ $moshiBin }}' codex-hook",
            "type": "command"
          }
        ]
      }
    ],
    "PreToolUse": [
      {{ template "rtk_hook_codex.json" . }}
    ],
    "SessionStart": [
      {
        "hooks": [
          {
            "command": "'{{ $moshiBin }}' codex-hook",
            "type": "command"
          }
        ]
      }
    ],
    "Stop": [
      {
        "hooks": [
          {
            "command": "'{{ $moshiBin }}' codex-hook",
            "type": "command"
          }
        ]
      }
    ],
    "UserPromptSubmit": [
      {
        "hooks": [
          {
            "command": "'{{ $moshiBin }}' codex-hook",
            "type": "command"
          }
        ]
      }
    ]
  }
}
