---
name: coder
description: {{ template "agent_coder_description" . -}}
model: sonnet
tools: Read, Grep, Glob, Edit, Write, Bash
skills:
  - coding-style
effort: high
---
{{ template "agent_coder_prompt" . -}}
