---
name: deep-reviewer
description: {{ template "agent_deep_reviewer_description" . -}}
model: fable
tools: Read, Grep, Glob, Bash
skills:
  - coding-style
  - security-audit
effort: xhigh
---
{{ template "agent_deep_reviewer_prompt" . -}}
