---
name: explorer
description: {{ template "agent_explorer_description" . -}}
model: sonnet
tools: Read, Grep, Glob, Bash
skills:
  - code-search
effort: medium
---
{{ template "agent_explorer_prompt" . -}}
