---
name: reviewer
description: {{ template "agent_reviewer_description" . -}}
model: claude-sonnet-5
tools: Read, Grep, Glob, Bash
skills:
  - coding-style
effort: high
---
{{ template "agent_reviewer_prompt" . -}}
